@using BlazeDapper.COMPONENTS.PagedDataSet;
@using BlazeDapper.CORE;
@using BlazeDapper.MODELS.DAL;
@using BlazeDapper.MODELS.DTO;
@using Microsoft.AspNetCore.Components;

@inherits PagedDataSetBase<Order>

<h3>Orders</h3>


