@using BlazeDapper.COMPONENTS.PagedDataSet;
@using BlazeDapper.CORE;
@using BlazeDapper.MODELS.DAL;
@using BlazeDapper.MODELS.DTO;
@using Microsoft.AspNetCore.Components;

@inherits PagedDataSetBase<OrderItems>

<h3>OrderItems</h3>


