@typeparam T

<tr>   
    @foreach (var columnHeader in TopPage.ColumnFilters)
    {
        <DataHeaderItem ColumnHeader="@columnHeader" T="T" />
    }
    <th>
        <div>
            <button type="button" class="btn btn-primary"
               @onclick="GetFilteredData"
               @onclick:preventDefault>
                Search
            </button>
            <button type="button" class="btn btn-primary"
               @onclick="ClearFilters"
               @onclick:preventDefault>
                Clear
            </button>
        </div>
    </th>
</tr>